.login-form {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: calc(50vw - 100px);
    margin-top: calc(50vh - 50px);
}

.all {
    display: flex;
    height: calc(100vh);
    width: 100%;
    background: #fff;
}

img {
    max-width: 200px;
}

.socials-block {
    display: flex;

    img {
        margin: 6px;
        width: 30px;
    }
}
