.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(#000, 0.7);
  transition: all 2s linear 1s;

  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__content {
    width: 800px;
    height: 400px;
    z-index: 111;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }
}

.record {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid #5252cb;
    margin-top: 5px;
    background-color: #edfaff;
  }

  &__remove {
    &:hover {
      transform: scale(1.02);
    }

    &--btn {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      outline: none;
      background-color: transparent;
      color: indianred;
      font-size: 18px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
  }
}

.actions {
  display: flex;
  width: 100%;

  &__input {
    width: 100%;
    display: flex;

    input {
      width: 100%;
      padding: 8px;
      outline: #5252cb;
    }
  }

  &__btn {
    button {
      width: 200px;
      background-color: #5252cb;
      margin-left: 10px;
      padding: 8px;
      color: #fff;
      cursor: pointer;
    }
  }

  &__close {
    $gray-color: #cecece;
    $text: #868686;
    position: absolute;
    bottom: 10px;
    right: 10px;

    button {
      width: 100px;
      background-color: transparent;
      padding: 8px;
      border: 1px solid $gray-color;
      color: $text;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #cecece;
  margin: 10px 0;
}
